@charset "UTF-8";

.content {
	margin: 50px;
	display: flex;
}

.left {
	margin: 20px;
	width: 40%;
	background-color: #d3d3d3;
}

.right {
	width: 60%;
	margin: 20px;
}

.image {
	text-align: center;
	margin-bottom: 20px;
}

.image img {
	max-width: 100%;
	max-height: 300px;
}

.reservation {
	display: block;
	width: 100%;
	padding: 10px;
	font-size: 16px;
	font-weight: bold;
	color: white;
	background-color: #ff0000;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.info {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.info label {
	font-weight: bold;
	margin-bottom: 5px;
	display: block;
}

.info p {
	margin: 0;
	font-size: 16px;
}