@charset "UTF-8";
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-top: 2px solid #FFA500; /* 위쪽 선 스타일 */
    bottom: 0;
    width: 100%;
}
.content {
	display: flex;
	height:140vh;
	flex-direction: column;
}
h2{
	text-align:center;
}

.car {
	display: flex;
	flex-wrap: wrap;
	height:auto;
	justify-content: center;
}

.car div {
	width: 23%; 
	box-sizing: border-box;
	padding: 15px;
	background-color: #d3d3d3;
	margin:10px;
}

.car img {
	width: 100%;
	height: auto;
	border-radius: 5px;
}
.car p {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: block;
    margin-top: 10px;
    text-align: center;
}