@charset "UTF-8";

.content {
    margin: 50px auto;
    width: 80%;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    width: calc(50% - 10px);
    margin-right: 10px;
    margin-bottom: 10px; /* 추가된 간격 */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="radio"]{
	display:none;
}
.title {
    display: block;
    margin-bottom: 10px; /* 수정된 간격 */
    font-weight: bold;
}
input[type="submit"] {
    padding: 10px 20px;
    background-color: #009688;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; /* 수정된 간격 */
}

input[type="submit"]:hover {
    background-color: #00796b;
}

label {
    cursor: pointer;
}
.error-message {
    display: inline-block;
    margin-left: 10px; /* 오른쪽 여백 조정 */
    vertical-align: top; /* 입력란과 오류 메시지를 수직 정렬 */
    color: red;
}
.radio-button{
	display: inline-flex;
	padding: 10px;
}
.radio-button div{
	width: 80px;
    padding: 10px;
    border: solid 1px lightgrey;
    text-align:center;
}
#non:checked~#pay-non span,
#card:checked~#pay-card span{
	color: #00796b;
}
#non:checked~#pay-non div,
#card:checked~#pay-card div{

	border: solid 1px #00796b;
}
