.Footer {
    width: 100%; /* Adjust as needed */
    height: 200px;
    position: relative; /* Change position to relative */
    background: white;
    margin-top: 20px; /* Add margin to create space above the footer */
}

.Rectangle2 {
    width: 95%; /* Adjust as needed */
    height: 172px;
    margin: 0 auto; /* Center the rectangle */
    border: 1px black solid;
}

/* Additional styling for footer elements goes here */
