/* Adjust the positioning of the header */
.Header {
    width: 100%;
    height: 200px;
    position: relative; /* Change position to relative */
    background: white;
}

.SecondMenu {
    width: 100%;
    height: 81px;
    position: absolute;
    bottom: 0;
    left: 0;
    border: 1px black solid;
}

.FirstMenu {
    width: 100%;
    height: 81px;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px black solid;
}

/* Adjust the positioning and margin of the form groups */