header {
    background-color: rgb(255,247,259);
    padding: 20px;
    border-bottom: 2px solid #FFA500; /* 밑줄 스타일 */
}

.FirstMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.Group1,
.Group2 {
    display: flex;
    align-items: center;
}
.Logo input[type="button"],
.Group1 input[type="button"],
.Group2 input[type="button"] {
    background-color: #FFA500; /* 버튼 배경색 */
    color: #fff; /* 버튼 텍스트 색상 */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.SecondMenu {
    display: flex;
     margin-top: 20px;
}

.SecondMenu div {
    margin-right: 20px;
    cursor: pointer;
}
a{
	text-decoration:none;
	color:black;
}

a:hover{
	color:lightgray;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-top: 2px solid #FFA500; /* 위쪽 선 스타일 */
    bottom: 0;
    width: 100%;
    position: fixed;
}

.Rectangle2 {
    display: flex;
    justify-content: space-between;
}
