body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
}
.container {
	width: 400px;
	height:60vh;
	margin: 20px auto;
	background-color: #fff;
	padding: 30px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
	font-size: 24px;
	color: #333;
	margin-bottom: 20px;
	text-align: center;
}

form {
	display: grid;
	gap: 15px;
}

label {
	font-weight: bold;
}

input[type="text"], input[type="password"] {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

input[type="submit"] {
	width: 100%;
	padding: 12px 20px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
	background-color: #0056b3;
}

#birthday, #gender {
	display: inline-block;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
}

#birthday {
	max-width: 70px; /* 최대 6자리까지 입력 가능 */
}

#gender {
	max-width: 10px; /* 최대 1자리까지 입력 가능 */
}

#name{
	max-width:50px;
}
#phonenumber{
	max-width:100px;
}