<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/src/main/webapp/resources/css/signup.css">
</head>
<body>
    <header>
        <div class="FirstMenu">
            <div class="Logo"></div>
            <div class="Group1">
                <div><input type="button" value="회원가입"></div>
            </div>
            <div class="Group2">
                <div><input type="button" value="로그인"></div>
            </div>
        </div>
        <div class="SecondMenu">
            <div>차량 검색</div>
            <div>렌트</div>
            <div>게시판</div>
            <div>공지사항</div>
        </div>
    </header>
    <form action="/signUpFormAction" method="post">
		<div class="content">
            <div class="Group-Id">
                <div>
                    아이디<input type="text" name="id">
                </div>
            </div>
            <div class="Group-Password">
                <div>
                    비밀번호<input type="password" name="password">
                </div>
            </div>
            <div class="Group-PasswordCheck">
                <div>
                    비밀번호 확인<input type="password" name="passwordCheck">
                </div>
            </div>
            <div class="Group-Name">
                <div>
                    이름<input type="text" name="name">
                </div>
            </div>
            <div class="Group-phonenumber">
                <div>
                    핸드폰번호<input type="text" name="phonenumber">
                </div>
            </div>
            <div class="Group-birthday">
                <div>
                    주빈번호<input type="text" name="birthday">-<input type="text"
                        name="gender">
                </div>
            </div>
            <div class="Group-email">
                <div>
                    이메일<input type="text" name="email">
                </div>
            </div>
            <div class="Group-submit">
                <div>
                    <input type="submit" value="회원가입">
                </div>
            </div>
        </div>
	</form>
    <footer>
        <div class="Footer-first">
                <div>회사소개  서비스 이용약관</div>
        </div>
        <div class="Footer-first">
            <div>주소 : <br>번호 : </div>
        </div>
    </footer>
</body>
</html>