<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>RentalCar</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <!-- JAVA MAPPING -->
  <servlet>
  	<servlet-name>signUpFormAction</servlet-name>
  	<servlet-class>service.user.controller.SignUpFormAction</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>signUpFormAction</servlet-name>
 	<url-pattern>/signUpFormAction</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>signInFormAction</servlet-name>
  	<servlet-class>service.user.controller.SignInFormAction</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>signInFormAction</servlet-name>
 	<url-pattern>/signInFormAction</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>boardListFormAction</servlet-name>
  	<servlet-class>service.board.controller.BoardListFormAction</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>boardListFormAction</servlet-name>
 	<url-pattern>/boardListFormAction</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>boardViewFormAction</servlet-name>
  	<servlet-class>service.board.controller.BoardViewFormAction</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>boardViewFormAction</servlet-name>
 	<url-pattern>/boardViewFormAction</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>boardDeleteFormAction</servlet-name>
  	<servlet-class>service.board.controller.BoardDeleteFormAction</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>boardDeleteFormAction</servlet-name>
 	<url-pattern>/boardDeleteFormAction</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>boardUpdateFormAction</servlet-name>
  	<servlet-class>service.board.controller.BoardUpdateFormAction</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>boardUpdateFormAction</servlet-name>
 	<url-pattern>/boardUpdateFormAction</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>carMainFormAction</servlet-name>
  	<servlet-class>service.car.controller.CarMainFormAction</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>carMainFormAction</servlet-name>
 	<url-pattern>/carMainFormAction</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>carListFormAction</servlet-name>
  	<servlet-class>service.car.controller.CarListFormAction</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>carListFormAction</servlet-name>
 	<url-pattern>/carListFormAction</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>carFormAction</servlet-name>
  	<servlet-class>service.car.controller.CarFormAction</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>carFormAction</servlet-name>
 	<url-pattern>/carFormAction</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>reservationFormAction</servlet-name>
  	<servlet-class>service.reservation.controller.ReservationFormAction</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>reservationFormAction</servlet-name>
 	<url-pattern>/reservationFormAction</url-pattern>
  </servlet-mapping>
  
  <!-- JSP MAPPING -->
  <servlet>
  	<servlet-name>header</servlet-name>
  	<jsp-file>/views/modules/header.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>header</servlet-name>
 	<url-pattern>/header</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>footer</servlet-name>
  	<jsp-file>/views/modules/footer.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>footer</servlet-name>
 	<url-pattern>/footer</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>signUp</servlet-name>
  	<jsp-file>/views/user/signup.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>signUp</servlet-name>
 	<url-pattern>/signUp</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>signIn</servlet-name>
  	<jsp-file>/views/user/signIn.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>signIn</servlet-name>
 	<url-pattern>/signIn</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>main</servlet-name>
  	<jsp-file>/views/main/main.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>main</servlet-name>
 	<url-pattern>/main</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>boardList</servlet-name>
  	<jsp-file>/views/board/boardList.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>boardList</servlet-name>
 	<url-pattern>/boardList</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>boardWrite</servlet-name>
  	<jsp-file>/views/board/boardWrite.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>boardWrite</servlet-name>
 	<url-pattern>/boardWrite</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>board</servlet-name>
  	<jsp-file>/views/board/board.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>board</servlet-name>
 	<url-pattern>/board</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>carList</servlet-name>
  	<jsp-file>/views/car/carList.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>carList</servlet-name>
 	<url-pattern>/carList</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>car</servlet-name>
  	<jsp-file>/views/car/car.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>car</servlet-name>
 	<url-pattern>/car</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>reservation</servlet-name>
  	<jsp-file>/views/reservation/reservation.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>reservation</servlet-name>
 	<url-pattern>/reservation</url-pattern>
  </servlet-mapping>
  
</web-app>